[Unit]
Description=DaryWin backend server
Wants=mongod.service
After=mongod.service

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/darywin/backend
Type=simple
Restart=always
StandardOutput=append:/var/log/darywin.log
StandardError=append:/var/log/darywin.log

[Install]
WantedBy=multi-user.target
