# General
NODE_ENV=development

# Backend server
DW_PORT=4004
DW_HTTPS=false
DW_PRIVATE_KEY=/etc/ssl/movinin.key
DW_CERTIFICATE=/etc/ssl/movinin.pem

# MongoDB
DW_DB_URI="mongodb://admin:PASSWORD@127.0.0.1:27017/movinin?authSource=admin&appName=movinin"
DW_DB_SSL=false
DW_DB_SSL_CERT=/etc/ssl/movinin.pem
DW_DB_SSL_CA=/etc/ssl/movinin.pem
DW_DB_DEBUG=true
DW_DB_SERVER_SIDE_JAVASCRIPT=false

# Auth
DW_COOKIE_SECRET=COOKIE_SECRET
DW_AUTH_COOKIE_DOMAIN=localhost
DW_ADMIN_HOST=http://localhost:3003/ # very important, otherwise admin auth won't work
DW_FRONTEND_HOST=http://localhost:3004/ # very important, otherwise frontend auth won't work
DW_JWT_SECRET=JWT_SECRET
DW_JWT_EXPIRE_AT=86400
DW_TOKEN_EXPIRE_AT=86400

# Email (SMTP)
DW_SMTP_HOST=smtp.sendgrid.net
DW_SMTP_PORT=587
DW_SMTP_USER=apikey
DW_SMTP_PASS="PASSWORD"
DW_SMTP_FROM=no-reply@movinin.io

# CDN (File storage)
DW_CDN_ROOT=/var/www/cdn
DW_CDN_USERS=/var/www/cdn/movinin/users
DW_CDN_TEMP_USERS=/var/www/cdn/movinin/temp/users
DW_CDN_PROPERTIES=/var/www/cdn/movinin/properties
DW_CDN_TEMP_PROPERTIES=/var/www/cdn/movinin/temp/properties
DW_CDN_LOCATIONS=/var/www/cdn/movinin/locations
DW_CDN_TEMP_LOCATIONS=/var/www/cdn/movinin/temp/locations

# Localization
DW_DEFAULT_LANGUAGE=en

# Business Rules
DW_MINIMUM_AGE=21

# Expo
DW_EXPO_ACCESS_TOKEN=EXPO_ACCESS_TOKEN

# Stripe
DW_STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
DW_STRIPE_SESSION_EXPIRE_AT=82800

# PayPal
DW_PAYPAL_SANDBOX=true
DW_PAYPAL_CLIENT_ID=PAYPAL_CLIENT_ID
DW_PAYPAL_CLIENT_SECRET=PAYPAL_CLIENT_SECRET

# Admin
DW_ADMIN_EMAIL=admin@movinin.io

# Google reCAPTCHA
DW_RECAPTCHA_SECRET=RECAPTCHA_SECRET

# Misc
DW_WEBSITE_NAME="DaryWin"
DW_TIMEZONE=UTC # Timezone for cenverting dates from UTC to local time (used in emails sent from backend). TZ identifier https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# IPInfo (Geo lookup)
DW_IPINFO_API_KEY=IPINFO_API_KEY # Required for more than 1000 requests/day
DW_IPINFO_DEFAULT_COUNTRY=US

# Language cleanup job
DW_BATCH_SIZE=1000 # Number of documents to process per batch when deleting obsolete language values

# Sentry (Error monitoring & performance tracing)
DW_ENABLE_SENTRY=false # Set to true to enable Sentry
DW_SENTRY_DSN_BACKEND=https://your_dsn@o0.ingest.sentry.io/your_project_id # Your backend DSN (keep it secret)
DW_SENTRY_TRACES_SAMPLE_RATE=1.0 # Tracing sample rate: 1.0 = 100%, 0.1 = 10%, 0 = disabled
