DW_API_HOST=https://darywin.com:4004
DW_DEFAULT_LANGUAGE=en
DW_PAGE_SIZE=20
DW_PROPERTIES_PAGE_SIZE=8
DW_BOOKINGS_PAGE_SIZE=8
DW_CDN_USERS=https://darywin.com:4004/cdn/darywin/users
DW_CDN_PROPERTIES=https://darywin.com:4004/cdn/darywin/properties
DW_AGENCY_IMAGE_WIDTH=60
DW_AGENCY_IMAGE_HEIGHT=30
DW_PROPERTY_IMAGE_WIDTH=300
DW_PROPERTY_IMAGE_HEIGHT=200
DW_MINIMUM_AGE=21
DW_STRIPE_PUBLISHABLE_KEY=STRIPE_PUBLISHABLE_KEY
DW_STRIPE_MERCHANT_IDENTIFIER=MERCHANT_IDENTIFIER
DW_STRIPE_COUNTRY_CODE=US
DW_BASE_CURRENCY=USD
DW_WEBSITE_NAME="DaryWin"
