VITE_NODE_ENV=production
VITE_DW_API_HOST=http://localhost:4004
VITE_DW_DEFAULT_LANGUAGE=en
VITE_DW_PAGE_SIZE=30
VITE_DW_PROPERTIES_PAGE_SIZE=15
VITE_DW_BOOKINGS_PAGE_SIZE=20
VITE_DW_BOOKINGS_MOBILE_PAGE_SIZE=10
VITE_DW_CDN_USERS=http://localhost:4004/cdn/darywin/users
VITE_DW_CDN_TEMP_USERS=http://localhost:4004/cdn/darywin/temp/users
VITE_DW_CDN_PROPERTIES=http://localhost:4004/cdn/darywin/properties
VITE_DW_CDN_TEMP_PROPERTIES=http://localhost:4004/cdn/darywin/temp/properties
VITE_DW_CDN_LOCATIONS=http://localhost:4004/cdn/darywin/locations
VITE_DW_CDN_TEMP_LOCATIONS=http://localhost:4004/cdn/darywin/temp/locations
VITE_DW_AGENCY_IMAGE_WIDTH=60
VITE_DW_AGENCY_IMAGE_HEIGHT=30
VITE_DW_PROPERTY_IMAGE_WIDTH=300
VITE_DW_PROPERTY_IMAGE_HEIGHT=200
VITE_DW_MINIMUM_AGE=21
VITE_DW_PAGINATION_MODE=classic
VITE_DW_CURRENCY=\$
VITE_DW_WEBSITE_NAME="DaryWin"
VITE_DW_RECAPTCHA_ENABLED=false
VITE_DW_RECAPTCHA_SITE_KEY=RECAPTCHA_SITE_KEY
VITE_DW_CONTACT_EMAIL=info@darywin.com

# for development inside docker
VITE_PORT=3003
VITE_HMR_HOST=localhost
VITE_HMR_PORT=3003
VITE_HMR_CLIENT_PORT=3003
